/* Allmänna resetregler */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #1d1d1d; /* Mörk bakgrundsfärg */
    color: #e4e4e4; /* Ljus textfärg för bra kontrast */
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #121212; /* Mörkare header */
}

header h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    color: #bbb;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 40px 0;
    color: #fff;
}

h3 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

section {
    padding: 40px 10%;
    background-color: #181818; /* Mörk bakgrund för sektioner */
    border-radius: 10px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: 1.1rem;
    color: #e4e4e4;
    border-bottom: 1px solid #333;
}

th {
    color: #a7a7a7;
}

td {
    color: #ccc;
}

h2, h3 {
    color: #f1f1f1;
}

button, .cta-button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover, .cta-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

footer {
    background-color: #121212;
    text-align: center;
    padding: 20px 0;
    color: #777;
}

footer p {
    font-size: 1rem;
    color: #aaa;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Effekter på scrollning */
section h3 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

section h3.visible {
    opacity: 1;
    transform: translateY(0);
}

section table td {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

section table td.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Anpassad layout för mobilen */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    section {
        padding: 20px 5%;
    }
}
